<mat-card class="card--nowa_faktura">
  <h1>Dodaj fakturę</h1>

  <div class="form--faktura">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" novalidate>
      <div fxLayout="column">
        <mat-form-field appearance="outline" class="w-317">
          <mat-label>Numer faktury</mat-label>
          <input matInput formControlName="numer">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-317">
          <mat-label>Kwota faktury</mat-label>
          <input type="number" matInput formControlName="kwotaFaktury">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-317">
          <mat-label>Data</mat-label>
          <input matInput formControlName="dataWystawienia" [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-317">
          <mat-label>Sprzedawca</mat-label>
          <mat-select (selectionChange)="onChanged($event.value)">
            <mat-option *ngFor="let sprzedawca of sprzedawcy" [value]="sprzedawca">
              {{sprzedawca.nazwa}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout="column" fxLayoutAlign="end start">
        <mat-form-field appearance="outline" class="w-317">
          <mat-label>Id sprzedawcy</mat-label>
          <input matInput formControlName="id">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-317">
          <mat-label>Nazwa sprzedawcy</mat-label>
          <input matInput formControlName="nazwa">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-317">
          <mat-label>Adres sprzedawcy</mat-label>
          <input matInput formControlName="adres">
        </mat-form-field>
      </div>

      <div class="footer">
        <button
          color="primary"
          class="button--zapisz-fakture"
          mat-flat-button
          (click)="anuluj()">
          Anuluj i zamknij
        </button>

        <button
          color="primary"
          class="button--zapisz-fakture"
          mat-flat-button
          type="submit">
          Zapisz i zamknij
        </button>
      </div>
    </form>
  </div>
</mat-card>
