.card--nowa_faktura{
  width: 60%;
  margin-left: 20%;
  margin-top: 5%;
}

.button--zapisz-fakture{
  margin-top: 10px;
  height: 40px;
}

.footer {
  display: flex;
  place-content: space-between;
}
